{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Helplines</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'help.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>
  <body style="background-image: url({% static 'image/logo.jpg' %})">
    <div class="body_content">
      <!-- <div class="container" style="text-align:center">
      <br>
      <h1>Please Use These Helplines If You Need Any Help!!</h1>
      <br>
    </div> -->
    <header>
      <br><br>
      <div class="container">
        <div class="jumbotron-fluid">
            <h1 class="display-4 text-center" style="color: white; font-family:'Roboto Condensed', serif">Please Use the helplines if you need</h1>
        </div>
      </div>
      <br><br>
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card bg-light" style="height: 34em;width: 100%; background-image: linear-gradient(top, #7579ff, #b224ef) !important;" >
            <img style="height:12em;" class="card-img-top" src="{% static 'image/help.jpg' %}" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Roshni</h5>
              <p class="card-text">Volunteers at this suicide intervention center are given intensive training so that they can help you with any emotional breakdown.<br> Mon-Sat: 11am to 9pm</p>
              <button type="button" class="btn btn-outline-success">+914066202000</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card bg-light" style="height: 34em;width: 100%">
            <img style="height:12em" class="card-img-top" src="{% static 'image/help1.jpg' %}" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">CooJ</h5>
              <p class="card-text">Since 2013, this helpline has been aiding people to cope with all kinds of distress and are trained to recognise all the warning signs.<br>Mon-Fri: 3pm to 7pm</p>
              <a href="#" class="btn btn-outline-success">+918322252525</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card bg-light" style="height: 34em;width: 100%">
            <img style="height:12em" class="card-img-top" src="{% static 'image/help2.jpg' %}" alt="Card image cap">
            <div class="card-body text-center card_back">
              <h5 class="card-title">Sneha India Foundation</h5>
              <p class="card-text ">This is 24x7 helpline that offers emotional support to the depressed and suicidal. Write to them help@snehaindia.org.<br>All the days</p>
              <a href="#" class="btn btn-outline-success">+914424640050</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card bg-light" style="height: 36em;width: 100%">
            <img class="card-img-top" style="height:12em" src="{% static 'image/help3.jpg' %}" alt="Card image cap">
            <div class="card-body text-center card_back">
              <h5 class="card-title text-center">Vandrevala Foundation For Mental Health</h5>
              <p class="card-text ">They have trained counsellors helping you out in times of distress or suicidal thoughts. They work round the clock, and you can reach them through their toll-free numbers, or even e-mail.</p>
              <a href="#" class="btn btn-outline-success">18602662345</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card bg-light" style="height: 36em;width: 100%">
            <img class="card-img-top" style="height:12em" src="{% static 'image/help4.jpg' %}" alt="Card image cap">
            <div class="card-body text-center card_back">
              <h5 class="card-title">Connecting...</h5>
              <p class="card-text ">Connecting… is a suicide prevention NGO for the youth. It aides young people through it’s programmes and seminars. They have support for people who have lost close ones to suicide.<br>Everyday: 12pm to 8pm</p>
              <a href="#" class="btn btn-outline-success">+919922001122</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card bg-light" style="height: 36em;width: 100%">
            <img style="height:12em" class="card-img-top" src="{% static 'image/help5.jpg' %}" alt="Card image cap">
            <div class="card-body text-center card_back">
              <h5 class="card-title">Visit a psychologist nearby to get some help!</h5>
              <p class="card-text text-center">Please visit a psychologist near you to have a professional assessment of your condition.<br></p>
              <select class="form-control" id="city_choose">
                <option>Choose Your City</option>
                <option>Mumbai</option>
                <option>Hyderabad</option>
                <option>Delhi</option>
                <option>Bangalore</option>
                <option>Chennai</option>
                <option>Pune</option>
              </select>
              <br>
              <div class="link"></div>
              <!-- <a href="https://www.practo.com/mumbai/psychologist" class="btn btn-primary">Locate</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  <script type="text/javascript">
    var selectValue = document.querySelector('.form-control');

    selectValue.addEventListener('change', () => {
      var url = "https://www.practo.com/"+ selectValue.value +"/psychologist"
      if (selectValue.value != 'Choose Your City'){
      document.querySelector('.link').innerHTML = ` <a href=${url} class="btn btn-primary btn-block" target="_blank">Locate</a>`
}
      else{
        document.querySelector('.link').innerHTML = ` <a href="#" class="btn btn-default">Select City</a>`
      }
    })

  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
