{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Motivational_Quotes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'front_page.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Flamenco">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <nav>
            <div class="rowy">
                <a href="{% url 'MentalHealthAwareness:home' %}"><img src="{% static 'image/logolo.png' %}" class="logo"></a>
                <ul class="main-nav " id="check-class">
                    <li><a href="help.html">HELPLINES</a></li>
                    <li><a href="login.html">SUBSCRIBE FOR HELP</a></li>
                    
                </ul>
            </div>
    </nav>
    <br><br><br><br><br><br><br>
    <div class="container ">
    <div class="card-columns">
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text"><br>There are far, far better things than anything we leave behind<br></p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text"><br>But in the endone needs more courage to live than to kill himself.<br></p>
    </div>
  </div>
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text">When you get into a tight space and everything goes against you, till it seems as though you could not hang on a minute longer, never give up then for that is just the place where the tide will turn</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">Place your hand over your heart, can you feel it? That is called purpose. You're alive for a reason so don't ever give up.</p>
    </div>
  </div> 
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text">Though no one can go back and make a brand new start, anyone can start now and make a brand new ending</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">The world is a better place with you in it</p>
    </div>
  </div>
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text">If your heart is still beating god is not done with you yet</p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text"><br>Sucide doesn't end the changes of life getting worse, it eliminates the possibility of it ever getting any better</p>
    </div>
  </div>
  <div class="card bg-info">
    <div class="card-body text-center">
      <p class="card-text"><br>The harder the journey the more glorious the victory<br><br></p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text"><br>When you come to the end of your rope, tie a knot and hang on<br></p>
    </div>
  </div>

</div>
<br><br><br><br><br><br>
</div>

</body>
</html>